{{page-title "Edit"}}

<div style="width:70%;margin:auto;margin-top:50px" >

<h2>Formulário da Empresa</h2>

<form style="margin-top:50px">

<!-- Text input -->
<div class="form-outline mb-4">
<label class="form-label">Código</label>
 {{input type="text" readonly="true"  class="form-control" value=model.id }}
</div>

<!-- Text input -->
<div class="form-outline mb-4">
<label class="form-label">Login</label>
 {{input type="text"  class="form-control" value=model.login }}
</div>


<!-- Text input -->
<div class="form-outline mb-4">
<label class="form-label" >Senha</label>
 {{input type="text" class="form-control" value=model.senha }}
</div>

<!-- Text input -->
<div class="form-outline mb-4">
<label class="form-label" >Nome</label>
 {{input type="text" class="form-control" value=model.nome }}
</div>

<!-- Text input -->
<div class="form-outline mb-4">
<label class="form-label">Razão Social</label>
 {{input type="text"   class="form-control" value=model.razaoSocial }}
</div>

<!-- Text input -->
<div class="form-outline mb-4">
<label class="form-label" >CNPJ</label>
 {{input type="text"   class="form-control" value=model.cnpj }}
</div>

<!-- Text input -->
<div class="form-outline mb-4">
<label class="form-label">Área de Atuação</label>
 {{input type="text"  class="form-control" value=model.areaAtuacao }}
</div>

<!-- Text input -->
<div class="form-outline mb-4">
<label class="form-label" >Cidade</label>
 {{input type="text"   class="form-control" value=model.cidade }}
</div>

<!-- Text input -->
<div class="form-outline mb-4">
<label class="form-label" >Estado</label>
 {{input type="text"   class="form-control" value=model.uf }}
</div>

<!-- Text input -->
<div class="form-outline mb-4">
<label class="form-label" >CEP</label>
 {{input type="text"   class="form-control" value=model.cep }}
</div>


<!-- Email input -->
<div class="form-outline mb-4">
<label class="form-label" >Email</label>
 {{input type="email"  class="form-control" value=model.email }}
</div>

<!-- Number input -->
<div class="form-outline mb-4">
<label class="form-label" >Telefone</label>
 {{input type="number"  class="form-control" value=model.telefone }}
</div>

<!-- Submit button -->

<button class="btn btn-primary d-grid gap-1 col-3 mx-auto" {{action 'editEmpresa' model}} type="submit" >Atualizar</button>
</form>

</div>

{{outlet}}